:root {
  --simplebar-color: #d9d9d9; /* cor da barra de rolagem */
  --simplebar-track-color: #f5f5f5; /* cor do track da barra de rolagem */
  --simplebar-height: 8px; /* altura da barra de rolagem */
  --simplebar-track-height: 8px; /* altura do track da barra de rolagem */
  --simplebar-radius: 0; /* arredondamento das bordas da barra de rolagem */
}


.navbar{
  background-color: black;
  height: 6rem;
  box-shadow: 0px 0px 10px 0.4rem rgb(62, 236, 9);
  font-family: 'Roboto', sans-serif;
  animation: pulse infinite;
  z-index: 1000;

}
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.4);
  }
  70% {
    box-shadow: 0 0 0 10px rgba(35, 100, 15);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(62, 236, 9);
  }
}




@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vina+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');


.simplebar-content-wrapper {
  scrollbar-width: auto;
  -ms-overflow-style: auto;
}

.simplebar-content-wrapper::-webkit-scrollbar,
.simplebar-hide-scrollbar::-webkit-scrollbar {
  display: initial;
  width: initial;
  height: initial;
}

h1{
  font-size: 2.4rem;
  letter-spacing: 3px;
  padding: 2rem;
  
}

.d1{
  color: rgb(105, 168, 9);

}

nav{
  display: flex;
  justify-content: space-between;
}

.botoes {
  display: flex;
  justify-content: flex-end;
 
  font-family: 'Roboto', sans-serif;
}

button {
  margin: 20px;
  margin-top: 2rem;
  
}

button {
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
}

button:hover {
  background-color: rgb(51, 47, 47);
  transform: scale(1.19);
  color: rgb(81, 255, 0);
  
}


main{
  margin-top: 1rem;
  height: 100vh;
}

.DiAtom{
  font-size: 30rem;
  color: rgb(37, 224, 37);
  
}

.icon{
  display: flex;
  justify-content: flex-end;
}

.name{
  font-family: 'Ubuntu', sans-serif;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  margin-right: 40%;
  flex-direction: column;
  text-align: center;
  transform: translateY(500%);
}

h3{
  color: rgb(37, 224, 37);
}


.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  background-color: #000000;
  opacity: 0;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
}

.sidebar:hover{
  opacity: 100%;
  display: flex;
  flex-direction: column;
}




.toggle-button {
  font-size: 2rem;
  cursor: pointer;
  margin: 20px;
  width: 50px;
}

.sidebar-nav {
 
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;

}

.sidebar-nav input {
 
  padding: 10px;
  display: flex;
  flex-direction: column;
  margin-top: 1rem;
  background-color: transparent;
  border: none;
  color: white;
  font-size: 16px;
  padding: 10px 15px;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.sidebar-nav input:hover{
  background-color: rgb(51, 47, 47);
  transform: scale(1.19);
  color: rgb(81, 255, 0);
}

.sidebar-nav {
  margin-top: 80px;
  padding: 20px;
  transition: transform 0.3s ease-in-out;
  transform: translateX(-100%);
}

.sidebar-nav.show {
  transform: translateX(0);
}

input{
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

label, input, textarea {
  grid-row: auto;
}


.navbar {
  

  z-index: 1000;
}

.sobremim {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.sobremim-title {
  font-size: 2rem;
  margin-bottom: 2rem;
  font-family: 'Montserrat', sans-serif;
  color: rgb(37, 224, 37);

}

.sobremim-description {
  font-size: 1.2rem;
  max-width: 80%;
  text-align: center;
  font-family: 'Montserrat', sans-serif;

}
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');
